/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================ 
NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/*******************
	Import Classes 
***********************************/
@import url("navbar.css");
@import url("form-control.css");
@import url("components.css");
@import url("utilities.css");
/* @import url('../fonts/fonts.css'); */

::selection {
  color: #fff;
  background: #097eeb;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e0e0e0;
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #602080;
  border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #602080;
}

/*******************
	Tag Styles Start 
***********************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
a:focus,
a:hover,
a:active {
  outline: 0;
  color: #0056a7;
}
a img {
  border: 0;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Heebo", sans-serif;
  margin-top: 0px;
  color: #333333;
}
html body .pace .pace-progress {
  background-color: transparent;
}
body {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  background: #f6f6f6;
  transition: all 0.3s ease-in-out;
}
textarea {
  overflow: auto;
  resize: none;
}

/*******************
	Tag Styles End  
***********************************/
/**Status**/
.status {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  padding: 5px 10px;
  min-width: fit-content;
  border-radius: 50px;
  text-align: center;
  display: inline;
  border-radius: 3px;
  color: #fff;
  font-family: "Helvetica-Bold";
}
.status.upcoming {
  background-color: #04d4b4;
}
.status.complete {
  background-color: #01a82e;
}
.status.canceled {
  background-color: #ff3f00;
}
.status.pending {
  background-color: #ff3f00;
}
.status.active {
  background-color: #05c954;
}

/*******************
	Global Elements  Start
***********************************/
/*******
Button Delete 
*****/
.delete-button {
  top: 20px;
  right: 15px;
}
.delete-button .btn-delete {
  border-radius: 50%;
  font-size: 18px;
  border: 1px solid #ff0000;
  padding: 0px;
  width: 50px;
  height: 50px;
  background: #ff0000;
  align-items: center;
  display: inline-flex;
  color: #ffffff;
  justify-content: center;
}

/**** Header Profile Dropdown Module*****/
.navbar-nav .dropdown-menu {
  background: #fff;
  border-radius: 10px;
  border: none;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  position: relative;
  min-width: 7rem;
  border: 1px solid #e5e5e5;
}
.navbar-nav .dropdown-menu a.dropdown-item {
  background-color: transparent;
  padding: 10px 8px;
  text-transform: capitalize;
  color: #656368;
  font-size: 16px;
  font-weight: 400;
}
.navbar-nav .dropdown-menu a.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.navbar-nav .dropdown-menu a.dropdown-item i {
  color: #656368;
  margin-right: 7px;
  display: inline-block;
  width: 20px;
  font-size: 16px;
  transition: all 0.3s ease-out;
}
.nav.navbar-nav .dropdown-item:hover,
.nav.navbar-nav .dropdown-item:hover:focus {
  color: #163459;
}
.nav.navbar-nav .dropdown-item:hover i.fa,
.nav.navbar-nav .dropdown-item:hover:focus i.fa {
  color: #163459;
}
.header-navbar .navbar-container ul.nav li a.menu-toggle {
  margin-top: 10px;
}
.header-navbar .navbar-container ul.nav li a.menu-toggle i {
  font-size: 2rem;
  color: #666666;
}

/**** Header Notification Module*****/
.dropdown-notification a.nav-link {
  background: #ffeada;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-top: 0 !important;
  margin-right: 20px !important;
}
.dropdown-notification span.badge {
  background: #fe6d01;
  border: 2px solid #fff;
  height: 25px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 4px 5px;
  line-height: 10px;
  font-size: 11px;
  color: white;
  transition: all 0.3s ease-out;
  border-radius: 50px;
  right: 14px;
  top: 0;
  position: absolute;
}
.dropdown-notification.show span.badge {
  background: #2edbc0;
}
.dropdown-notification a.nav-link-label {
  margin: 0px 0 0 0;
  color: #2edbc0;
}
.dropdown-notification.show a.nav-link-label .far {
  color: #ff0000 !important;
}
.dropdown-notification a.nav-link-label .fas {
  padding-top: 5px;
  margin-right: -5px;
  font-size: 20px;
}
.dropdown-notification .dropdown-menu {
  padding: 0px;
  width: 24rem;
  background-color: rgb(255 255 255 / 90%);
  box-shadow: 0px 0px 24px rgb(0 0 0 / 15%);
  border-radius: 10px;
}
.dropdown-notification .dropdown-menu:after {
  display: none;
}
.navbar-nav .dropdown-menu:before {
  right: 77px;
}
.dropdown-notification .dropdown-menu-header {
  border-bottom: 0px;
  padding-top: 10px;
}
.dropdown-notification .dropdown-header {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: #0a0a13;
  padding-bottom: 0px;
  margin-top: 0px;
}
.dropdown-notification .dropdown-menu-footer {
  padding: 15px 20px;
  border-top: 0px solid #d7d7d7;
  margin: 0 15px;
}
.dropdown-notification .dropdown-menu-footer a.dropdown-item {
  background-color: transparent;
  border: none;
  color: #005dff;
  text-decoration: none;
  font-weight: 700;
  padding: 0px;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}
.dropdown-notification .dropdown-menu-footer a.dropdown-item:hover {
  color: #163459;
  text-decoration: underline;
}

.header-navbar
  .navbar-container
  ul.nav
  li.dropdown-notification
  .dropdown-menu
  .media-list {
  max-height: 16rem;
}

.dropdown-notification .media-left {
  padding-top: 2px;
  padding-right: 1rem;
  font-size: 20px;
}
.dropdown-notification .media-left .far {
  background-color: #05c954;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  color: #fff;
  margin-right: 0px;
}
.dropdown-notification .media-list a {
  padding: 0;
}
.dropdown-notification .media-list .media {
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border: none;
  border-bottom: 1px solid transparent;
}
.dropdown-notification .media-list .media h6.media-heading {
  color: #333333;
  text-transform: none;
  font-weight: 500;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.1;
}
.dropdown-notification .media-list .media .notification-text {
  line-height: 1.2;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}
.dropdown-notification .media-list .media small {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  text-align: left;
  margin-top: 8px;
}
.dropdown-notification > .nav-link i.fa,
.dropdown-notification > .nav-link i.far {
  font-size: 28px;
  color: #1f2640;
  transition: all 0.3s ease-out;
}

/***********
Header Login Navigation
********/
.header-navbar .avatar {
  width: 55px;
  display: inline-block;
  margin-right: 0.5rem;
}
.header-navbar .dropdown-user .dropdown-toggle {
  display: inline-flex;
  align-items: center;
}
.header-navbar .dropdown-user .dropdown-toggle:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 16px;
  top: 0px;
  left: 0px;
  border: 0px;
  color: #666666;
}
.header-navbar .dropdown-user .dropdown-menu {
  min-width: 12rem;
}
.header-navbar .dropdown-user .avatar img {
  max-width: 50px;
}
.header-navbar .dropdown-user .user-name {
  margin-bottom: 0;
  color: #4c4c4c;
  font-weight: 600 !important;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.header-navbar .dropdown-user .user-role {
  color: #b3b3b3;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

/****** Notification Page *******/
.notifications-page .card {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border: none;
  border-radius: 0px;
  background: transparent;
  transition: all 0.3s ease;
  border-bottom: 1px solid #ececec;
  box-shadow: none;
}
.notifications-page .card i {
  font-size: 17px;
  background: #05c954;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 0 0 !important;
  box-shadow: 0 0 20px 6px rgb(13 147 70 / 7%), 0 2px 9px 0 rgb(13 147 70 / 6%);
}
.notifications-page .card .media-body {
  padding-bottom: 0px;
}
.notifications-page .card .media-body.unreadNotification p {
  font-weight: 700;
  font-family: "Helvetica-Bold";
}
.notifications-page .card .media-body p {
  font-family: "Helvetica-Normal";
  color: #333333;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 0;
}
.notifications-page .card .time-meta {
  font-family: "Helvetica-Normal";
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}
.notifications-page .card .btn-primary {
  background-color: #ff0002;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 7px 25px;
}
.notifications-page .card .media-right {
  display: flex;
  align-items: center;
}

/**************
	User Box
*******************/
.detail-block {
  font-size: 18px;
  font-weight: 500;
}
.detail-block .profile-img {
  max-width: 130px;
}
.detail-block .profile-img img {
  max-width: 130px;
}
.detail-block .media-body {
  padding-left: 60px;
}
.detail-block .detail-row {
  margin-bottom: 20px;
  font-size: 18px;
  color: #999999;
}
.detail-block .lablename {
  color: #333333;
  font-weight: 300;
  font-size: 18px;
}
.detail-block .lablename label {
  margin-bottom: 0px;
  color: #333333;
  font-weight: 300;
  font-size: 18px;
}
.detail-block p {
  margin-bottom: 0px;
  color: #333;
}
.detail-block label {
  color: #242424;
  font-size: 18px;
  font-weight: 600;
  padding-left: 0px;
}
.detail-block .checkbox label {
  color: #1f2640 !important;
  margin-bottom: 0px;
}
.services-charges h6 {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 15px;
}
.services-charges .detail-row {
  margin-bottom: 5px;
}
.detail-block .checkbox {
  padding-left: 25px;
}
.detail-block select.form-control {
  color: #999999;
  min-width: 160px;
}
input.edit-input {
  background: #eeeeee !important;
  color: #333333 !important;
}

/*******
Media Preview Thumb ( Image Plus Icon )
*****/
.upload-thumbs {
  border-radius: 10px;
  padding: 20px 0;
  margin-top: 20px;
}
.upload-thumbs h5 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
.upload-thumbs h5 span {
  text-decoration: none;
}
.upload-thumb {
  max-width: 270px;
  position: relative;
}
.upload-thumb label {
  padding-left: 0px;
}
.upload-thumb img {
  border-radius: 10px;
}
.download-thumb label {
  margin-bottom: 0px;
  padding-left: 0px;
}
.upload-thumb button.download {
  position: absolute;
  z-index: 1;
  padding: 0px;
  opacity: 1;
  outline: none;
  font-size: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
  border: 2px solid #fff;
  background: #f24545;
}
.upload-thumb button.download i {
  color: #fff;
}
.upload-thumb .upload-tag {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  left: 15px;
}
.rotate-45 {
  transform: rotate(-45deg);
}

/**********************
	login start here
************************/
.login-card form .form-group .form-control::-moz-placeholder {
  color: inherit !important;
  opacity: 0.5;
}
.login-card form .form-group .form-control::placeholder {
  color: inherit !important;
  opacity: 0.5;
}
.login-wrap {
  background: linear-gradient(
    101.22deg,
    rgb(240 209 255 / 50%) 0.72%,
    rgb(255 232 255 / 50%) 100.32%
  );
  padding: 50px 0;
  min-height: 100vh;
}
.login-card {
  border-radius: 10px;
  box-shadow: 0 0 20px 6px rgb(62 57 107 / 5%), 0 2px 9px 0 rgb(62 57 107 / 5%);
  padding: 10px;
  background-color: #fff;
}
/* .login-card .left { background: url(../../images/left-img.png) no-repeat left center; width: 100%; border-top-left-radius: 10px; border-bottom-left-radius: 10px; } */
.login-card .right {
  padding: 50px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid #fff;
}
.login-card .right h1 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 35px;
  color: #333333;
  line-height: 1.1;
  text-align: center;
}
.login-card .right p {
  color: #666666;
  font-size: 15px;
}
.login-card .right form {
  margin: 25px 0 0 0;
}
.login-card form label {
  display: block;
  color: #000000;
}
.login-card form .form-group .form-control {
  height: 55px;
  background-color: #ffffff;
  border-color: #e4e4e4;
  color: #000000;
  padding-left: 60px;
}
.login-card form button.view-btn i {
  color: #dbdbdb;
}
.login-card form button.view-btn:hover i {
  color: #b3b3b3;
}
.login-card .btn-primary {
  font-size: 15px;
  padding: 13px 50px;
}
.login-card a {
  color: #29a6db;
}
.login-card a:hover {
  color: #163459;
}
.login-card .bck-btn a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}
.login-card .bck-btn a i {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
  margin-top: -2px;
}
.login-card .forgot-pass {
  font-size: 13px;
  padding-right: 0px;
}
.login-card .forgot-pass a,
.popup-form .forgot-pass a {
  font-size: 13px;
  text-decoration: underline;
  font-weight: 300;
}
.login-card .alert {
  font-size: 12px;
  color: #a2a2a2;
  padding: 5px 20px;
}
.login-card .alert.alert-danger {
  font-size: 16px;
  padding: 5px 20px;
}
.login-check {
  display: block;
  position: relative;
  padding: 1px 0 0 30px;
  margin-bottom: 0;
  margin-top: 1px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  font-weight: 300;
}
.login-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.login-check .checkmark {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 17px;
  width: 17px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  background-color: #fff;
}
.login-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.login-check input:checked ~ .checkmark:after {
  display: block;
}
.login-check .checkmark:after {
  left: 1px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid #163459;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  margin: 0 auto;
}
/*================================ login page end here ===================================*/

/**********************
	Page Global Styles
************************/
.page-title .btn {
  min-width: 180px;
}
.page-title h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
  text-transform: capitalize;
  color: #333333;
  margin-bottom: 0px;
  font-family: "Helvetica-Normal";
}
.page-title h2 a {
  text-decoration: none;
}
.page-title h2 a i {
  color: #333333;
  margin: 0;
  vertical-align: initial;
  font-size: 15px;
  border-radius: 50%;
  width: 30px;
  height: auto;
  display: inline-flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.page-title .backBtn {
  font-size: 15px;
  font-weight: 700;
}
.page-title h2 a:hover i {
  color: #28a6e1;
}
.page-title h3 {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Helvetica-Bold";
  color: #333333;
}

/*********
	Dashboard start here
*********/
html body .content-wrapper {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.card-chart select.form-control {
  background: #fff;
  border-radius: 50px;
  width: 160px;
  font-size: 14px;
  padding: 10px 20px;
  color: #999999;
  height: 50px !important;
  border: 1px solid #b7b7b7;
}
.card-chart .select-wrapper:after {
  content: "\f078";
  color: #333;
  font-size: 14px;
  right: 16px;
}
.card-chart h3 {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Helvetica-Bold";
  color: #333333;
}
.chartbox h4 {
  color: #444444;
}
.chartbox h4.rotate {
  font-size: 25px;
  color: #000000;
  text-align: center;
}
.chartbox h4.rotate {
  transform: rotate(-90deg);
  position: absolute;
  margin: auto 0;
  top: 0;
  left: 30px;
  bottom: 0;
  height: 25px;
}
.chartbox h4.rotate2 {
  transform: rotate(-90deg);
  position: absolute;
  margin: auto 0;
  top: 0;
  left: 100px;
  bottom: 0;
  height: 25px;
}

/***Dash Board Card Style****/
.card-dashboard .card {
  width: 100%;
  margin-bottom: 0px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 40px 0 rgb(62 57 107 / 7%), 0 2px 9px 0 rgb(62 57 107 / 6%) !important;
}
.card-dashboard .card-content {
  background: #fff;
}
.card-dashboard .media .fa,
.card-dashboard .media .fas {
  color: #8dc63f;
  font-size: 25px;
  vertical-align: middle;
  margin-bottom: 8px;
  margin-right: 10px;
}
.card-dashboard .card-body {
  padding: 25px 25px;
  border-radius: 15px;
}
.card-dashboard .card-title {
  color: #999999;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 25px 0 25px;
  margin-bottom: 0px;
  letter-spacing: normal;
  line-height: 1;
}
.card-dashboard .card-body h4 {
  line-height: 1;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 600;
  color: #ff0000;
}
.card-dashboard .card-icon {
  padding: 0px 0px;
}
.card-dashboard .media-body {
  padding-left: 0px;
  padding-right: 0px;
}
.card-dashboard .card h3 {
  font-size: 50px;
  color: #04d4b4;
  font-weight: 500;
  margin-bottom: 0px;
}
.card-dashboard .page-title a.btn-default {
  padding-left: 20px;
  padding-right: 20px;
}
.card-dashboard .card-footer {
  padding-left: 25px;
  padding-right: 25px;
}
.card-dashboard .card-footer h4 {
  line-height: 1;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 300;
  color: #999999;
}
.card-dashboard .card-footer .fa,
.card-dashboard .card-footer .fas {
  color: #000000;
  font-size: 20px;
  vertical-align: baseline;
  margin-right: 3px;
  margin-left: 3px;
}
/*================================ dashboard css end here =========================*/

/**********************
	Pages Styles
**********************/
.error-404 .page-content {
  text-align: center;
  padding: 50px 0;
}
.error-404 h2 {
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.error-404 p {
  color: #9595a4;
  font-size: 17px;
  margin-bottom: 30px;
}
.error-404 a {
  text-transform: uppercase;
  color: #78624f;
  font-size: 13px;
  font-weight: 600;
}
.error-404 a:hover {
  color: #000;
}

/* Profile Page */
.edit-profile form .form-control {
  color: #000;
}

/* Subscription Logs Page */
.subscription-page table.dataTable td {
  padding: 1.5rem 1.5rem;
}

/* User Page */
.medician-detail h2 {
  font-size: 40px;
}
.medician-detail .user-meta {
  font-size: 22px;
}
.medician-detail .color-meta {
  font-size: 27px;
}
.medician-detail .color-meta .rounded-circle {
  width: 25px;
  height: 25px;
}
.medician-detail .color-meta .bg-red {
  background-color: #ff6f91;
}
.user-page .detail-block .position-right {
  position: absolute;
  right: 50px;
  top: 50px;
}
.user-page .detail-block .profile-img {
  max-width: 150px;
}
.user-page .detail-block .profile-img img {
  max-width: 150px;
}
.appointment-detail-block {
  font-size: 22px;
}
.appointment-detail-block h3 {
  font-size: 30px;
}
.appointment-detail-block label {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 5px;
}
.appointment-detail-block p {
  font-weight: 300;
}
.medicine-manage-edit-page table.dataTable td .form-control {
  background-color: #a7f0e5;
  color: #999999;
  padding: 13px 20px;
  border: 0;
}
.dis-pills .rounded-pill {
  padding: 11px 30px;
  color: #000;
}

/* New CSS Start */
.login-card form .form-group .inputIcon {
  position: absolute;
  top: 32%;
  left: 20px;
  color: #602080;
}
body.vertical-layout {
  background-color: #f9eaff;
}
.content-body {
  background-color: #fcfcfc;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 8%);
  padding: 40px;
}
.select-wrapper .form-control {
  background: #ffffff;
  border: 1px solid #e0e0e0 !important;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 500;
  font-size: 15px;
  color: #333333;
  font-family: "Helvetica-Normal";
  padding: 0px 40px 0 20px !important;
}
.content-body .nav.nav-tabs .nav-item .nav-link.active {
  color: #ff3f00;
  border-bottom: 3px solid #ff3f00 !important;
  border: none;
  background-color: #fff0;
  font-family: "Helvetica-Bold";
  font-weight: 700;
  font-size: 15px;
}
.content-body .nav-tabs .nav-link {
  color: #999999;
  font-family: "Helvetica-Bold";
  font-weight: 700;
  font-size: 15px;
  padding: 10px 20px !important;
  border-bottom: 1px solid #999999;
  margin-right: 20px;
}
.content-body .nav-tabs {
  border: none;
}
.pricing {
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.pricing:hover {
  transform: scale(1.1);
}
.pricing .pricingHeader {
  background-color: #ffe8e0;
  border-radius: 10px 10px 0px 0px;
  padding: 30px 0;
  position: relative;
}
.pricing .pricingHeader:before {
  content: "";
  background-color: #ff3f00;
  height: 2px;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
}
.pricing:hover .pricingHeader:before {
  width: 100%;
}
.pricing .pricingHeader img {
  transition: 0.5s ease-in-out;
  height: 62px;
  width: 56px;
  object-fit: none;
}
.pricing:hover .pricingHeader img {
  transform: rotateY(180deg);
}
.pricing .pricingBody,
.pricing .pricingFooter {
  background-color: #fff;
}
.pricing .pricingBody ul {
  min-height: 215px;
}
.pricing .pricingBody ul li {
  list-style: none;
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
  color: #333333;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
  position: relative;
  padding-left: 25px;
}
.pricing .pricingBody ul li:before {
  content: "";
  /* background-image: url(../images/dot.png); */
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 0;
}
.pricing .pricingFooter {
  border-radius: 0 0 10px 10px;
  padding: 30px 0;
}
.pricing .pricingBody {
  padding: 30px 40px;
}
.content-body a.deleteBtn {
  background: rgba(254, 47, 47, 0.8);
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 26%);
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}
.commentSection .commentImg img {
  width: 63px;
  height: 63px;
  object-fit: contain;
  border-radius: 50%;
}
.commentSection:last-child {
  border: none;
}
.commentSection {
  border-bottom: 1px solid #dddddd;
}
.paymentLogBox {
  overflow: hidden;
  background-color: #faf1fe;
  border: 1px solid #602080;
  border-radius: 10px;
}
.paymentLogBox .paymentLogHeader {
  background-color: #602080;
  padding: 20px 20px;
}
.paymentLogBox .paymentLogBody {
  padding: 60px 20px;
}
.dashboardPackageBox .dashboardPackageHeader {
  padding: 15px 20px;
}
.dashboardPackageBox {
  background: #f7f0ff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
.dashboardPackageBox .dashboardPackageBody {
  padding: 30px 20px;
}
.media-left .far.fa-circle-dot {
  background-color: #005dff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  color: #fff;
  margin-right: 0px;
}
.filterTo {
  color: #ff3f00;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-family: "Helvetica-Bold";
  border: 1px solid #ff3f00;
  border-radius: 3px;
}
/* New CSS End */

/*===================== responsive start here=====================*/
@media (min-width: 991px) and (max-width: 1440px) {
  .media-block .col-large {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1440px) {
}
@media (max-width: 1399px) {
  .user-listing-top .user-record-lenght {
    width: 65%;
  }
  .user-listing-top select.form-control {
    min-width: 180px;
  }
  .user-listing-top div.dataTables_length select.form-control {
    min-width: 120px;
  }
  .sort-datepicker .input-wrap {
    width: 160px;
  }
}
@media (min-width: 1666px) {
}
@media (max-width: 1666px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
  .dashboard .card-dashboard .media-body {
    padding: 0px 15px 0 0;
  }
  .media-block .media-video video {
    height: 250px !important;
  }
}
@media (max-width: 1280px) {
  .dashboard .card-dashboard .card-body {
    padding: 15px 15px;
  }
  .dashboard .card-dashboard .card-body h4 {
    font-size: 27px;
  }
  .card-dashboard .media-body {
    padding: 0px 15px 0 0;
  }
  .card-dashboard .card-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .card-dashboard .card-title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .dis-pills .rounded-pill {
    padding: 11px 25px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1199px) {
  .user-listing-top .user-record-lenght {
    width: 100%;
  }
  .user-listing-top .user-filter .select-wrapper {
    min-width: 32%;
  }
  .user-listing-top select {
    width: 250px;
    min-width: inherit;
  }
  .detail-block .media-body {
    padding-left: 30px;
  }
  .dashboard .chart-box img {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .dashboard .chart-main h4 {
    margin: 20px 0 20px 0;
    text-align: center;
  }
  .dashboard .box.chart-box h2 {
    margin: 10px 0 0 0;
  }
  .dashboard .chart-box.select-chart .d-block {
    margin: 30px 0 0 0;
  }
  .post.card .card-header .media .media-body .media-heading {
    font-size: 24px;
  }
  .post.card .card-header .media .media-body .post-meta {
    font-size: 18px;
  }
  .sort-datepicker .input-wrap {
    width: 50%;
  }
  .header-navbar .navbar-container ul.nav li a.menu-toggle {
    margin-top: 2px;
  }
}

@media (max-width: 1050px) {
  .dashboard .card-dashboard .card-body {
    padding: 20px 15px;
  }
  .dashboard .card-dashboard .media-body {
    padding: 0px 10px 0 0;
  }
  .dashboard .card-dashboard .media .fa {
    display: block;
  }
  .dashboard .count-box {
    min-height: inherit;
  }
  .user-listing-top a.btn-default {
    padding: 12px 30px;
  }
  .user-listing-top label {
    font-size: 16px;
  }
  .main-tabble label {
    font-size: 16px;
  }
  .user-listing-top select {
    width: 220px;
  }
}
@media (max-width: 991px) {
  .login-card .right {
    padding: 80px 40px 80px 40px;
  }
  .login-card.bg-img {
    background-size: cover;
    background-position: top left;
  }
  .user-listing-top select {
    width: 250px;
  }
  .error-404 .page-content {
    padding: 50px 0;
  }
  .main-menu.menu-light .navigation > li {
    padding-right: 0px;
  }
  .main-menu.menu-light .navigation li a {
    border-radius: 0px;
  }
  .modal-body h3.modal-title {
    font-size: 25px;
  }
}
@media (min-width: 0px) and (max-width: 991px) {
}
@media (max-width: 768px) {
  .dashboard .card-dashboard .card h3 {
    font-size: 50px;
  }
  .dashboard .card-dashboard .card-title {
    font-size: 20px;
  }
  .dashboard .card-dashboard .card-body h4 {
    font-size: 30px;
  }
  html body .content-wrapper {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-navbar .navbar-container ul.nav li a.menu-toggle {
    margin-top: 0px;
  }
  .vertical-overlay-menu .main-menu .navigation > li > a > i {
    width: 22px;
  }
}
@media (max-width: 767px) {
  .dropdown-notification > .nav-link i.fa,
  .dropdown-notification > .nav-link i.far {
    color: #fff;
  }
  .user-page .detail-block .position-right {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
  .subscriber-card .card-header {
    background-size: 100% 100%;
  }
  .user-listing-top .sort-datepicker > label {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .dashboard .card-dashboard .page-title a.btn-default {
    padding: 10px 15px;
    font-size: 15px;
  }
  .user-listing-top a.btn-default {
    padding: 15px 25px;
    font-size: 15px;
  }
  .page-item .page-link {
    padding: 10px 15px;
  }
  div.dataTables_wrapper div.dataTables_filter label {
    font-size: 0px;
  }
  .tickets {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .user-listing-top {
    margin-bottom: 0px;
  }
  .dataTables_length {
    margin-bottom: 0px;
  }
  .detail-block {
    margin-bottom: 0px;
  }
  .status {
    font-size: 16px;
  }
  .user-info .lablename {
    margin-bottom: 7px;
  }
  .detail-block .media-body {
    padding-left: 0px;
  }
  .dataTables_filter label {
    padding-left: 0px;
  }
  .user-listing-top .dataTables_length select {
    width: 100% !important;
  }
  .user-listing-top .dataTables_length.order_select select {
    width: 100% !important;
  }
  .edit-profile .camera-btn {
    width: 35px;
    height: 35px;
  }
  .attached {
    margin: 0 auto !important;
  }
  .user-listing-top select {
    width: 100%;
    margin: 0;
    width: 275px;
  }
  .user-listing-top .search-wrap .form-control {
    width: 100% !important;
    margin-left: 0px !important;
  }
  div.dataTables_wrapper div.dataTables_filter label {
    display: block;
  }
  .nav.nav-tabs.nav-underline .nav-item a.nav-link {
    margin: 0 2px;
    width: 32.33%;
  }
  body ul.pagination {
    /*display: table; */
    margin: 0px auto 0px auto !important;
  }
  ul.pagination li {
    display: inline-block;
  }
  .user-listing-top a {
    margin: 0 7px 10px 0;
  }
  .vertical-overlay-menu .navbar .navbar-header {
    background: #ffffff;
    width: 100% !important;
  }
  .header-navbar .navbar-header .open-navbar-container i {
    color: #333333;
    margin: 0px 0px 0 0;
    font-size: 2rem;
  }
  .header-navbar .navbar-container ul.nav li .dropdown-toggle::after {
    color: #fff;
    top: 0px;
  }
  .chartbox .tckt-srch-row {
    display: block;
  }
  .sort-datepicker .input-wrap {
    width: 50%;
  }
  .notifications-page .card .media-body p {
    text-align: left;
  }
  .dropdown.dropdown-notification,
  .dropdown.dropdown-user {
    position: static;
  }
  /***
	Header Responsive Nav
	***/
  .navbar-header .navbar-light .navbar-nav .nav-link {
    padding: 0px;
  }
  .header-navbar.navbar-with-menu .navbar-container {
    background: #313131;
  }
  .header-navbar .navbar-header .navbar-brand {
    top: 25px;
    margin: 0;
    width: 120px;
  }
  i.ft-menu.font-large-1 {
    float: left;
    margin: 0px 0 0 0px;
    color: #333333;
    font-size: 2rem;
  }
  i.fa.fa-ellipsis-v {
    float: right;
    margin: 0 0 0 0;
  }
  .card.rounded.admin-overview-main h3 {
    margin: 30px 0 0 0;
  }
  .pro-main {
    padding: 20px 20px 130px 20px !important;
  }
  .vertical-overlay-menu .main-menu .navigation > li > a > i {
    width: 22px;
  }
  .card.card-thumb {
    margin-bottom: 10px !important;
  }
  .post-video video {
    height: 350px;
  }
  .recom-content a {
    font-size: 20px;
  }
  .login-wrap {
    padding: 80px 0;
  }
  .login-card .right {
    padding: 60px 30px 60px 30px;
  }
  html body .content-wrapper {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .card-chart select.form-control {
    width: 135px;
    font-size: 14px;
    padding: 10px 10px;
    height: 45px !important;
  }
  .card-chart h3 {
    font-size: 23px;
  }
  .user-listing-top div.dataTables_length select.form-control {
    min-width: 120px;
  }
}
@media (max-width: 575px) {
  .filterTo {
    width: 100%;
    text-align: center;
  }
  .header-navbar .navbar-header .navbar-brand img {
    width: 100px;
  }
  .content-body {
    padding: 20px;
  }
  .login-card .right {
    padding: 30px 30px 50px 30px;
  }
  .logo img {
    width: 170px;
  }
  .login-wrap {
    padding: 100px 0 105px 0;
  }
  .dashboard h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .user-listing-top {
    margin-top: 20px;
  }
  .sort-datepicker .input-wrap {
    width: 100%;
  }
  table.dataTable thead > tr > th.sorting {
    padding-right: 40px !important;
  }
  .detail-block .media .media-left {
    max-width: 100%;
    text-align: center;
  }
  .detail-block .media .media-left img {
    max-width: 100px;
  }
  .detail-block h3 {
    text-align: center;
    margin-top: 10px;
  }
  .my-profile .user-info,
  .edit-profile .user-info {
    padding-left: 0px;
    margin-top: 30px;
  }
  .status {
    font-size: 16px;
  }
  .error-404 h2 {
    font-size: 40px;
  }
  .dashboard .card-dashboard .card-wrp {
    margin: 40px 0 20px 0px;
  }
  .download-block .btn-bar {
    text-align: left !important;
  }
  div.dataTables_wrapper div.dataTables_filter label {
    text-align: left !important;
  }
  div.dataTables_wrapper div.dataTables_length label {
    text-align: left !important;
  }
  .dataTables_filter label:after {
    right: 15px !important;
  }
  .payment-modal-main form {
    margin: 30px 0 0 0;
  }
  h1 {
    margin: 20px 0 10px 0;
  }
  .ban-user.canned .user-listing-top {
    padding: 0 0 0;
  }
  .user-listing-top select {
    width: 100%;
  }
  .user-listing-top a {
    text-align: center;
    margin: 0 0 10px 0;
  }
  .user-listing-top a.red i {
    margin: 0 10px 0 0;
  }
  .user-listing-top label {
    display: block;
    text-align: left;
  }
  .dashboard .chart-main {
    margin: 20px 0 0 0;
  }
  html body .dashboard .content-wrapper {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .chart-main .heading {
    left: 0;
    text-align: center;
  }
  .table thead th {
    padding: 0.75rem 2rem;
  }
  .vertical-overlay-menu .main-menu .navigation > li > a > i {
    width: 22px;
  }
  .table tbody td {
    /* font-size: 12px !important; */
    padding: 1.4rem 0.1rem 1rem 0.9rem;
  }
  .user-info .btn-default {
    width: 100%;
  }
  .post-video video {
    height: 300px;
  }
  .page-title {
    margin-bottom: 30px;
  }
  .recom-content a {
    font-size: 20px;
  }
  h1 a i {
    color: #212121;
    margin: 2px 20px 0 0px;
    vertical-align: top;
    font-size: 28px;
  }
  .review {
    border-radius: 20px;
    padding: 15px 20px;
  }
  .nav-pills .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .subscriber-card .card-header {
    padding-bottom: 70px;
  }
  .card-chart select.form-control {
    width: 100%;
    font-size: 14px;
    padding: 10px 10px;
    height: 45px !important;
  }
  .user-listing-top div.dataTables_length select.form-control {
    min-width: 130px;
  }
}

@media (max-width: 480px) {
  .login-wrap {
    padding: 60px 0 105px 0;
  }
  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    min-width: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }
  ul.pagination {
    font-size: 14px;
  }
  .page-item .page-link {
    padding: 8px 13px;
    line-height: 25px;
  }
  .page-title h2 {
    font-size: 28px;
  }
  .page-title h2 a i {
    margin: 3px 10px 0 0px;
  }
}
@media (max-width: 375px) {
  .dashboard h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .login-inner .right {
    padding: 20px 15px 20px 15px;
  }
  .logo img {
    width: 110px;
  }
  .user-listing-top label {
    display: block;
    text-align: left;
    margin: 0px 0 5px 0;
  }
  .user-listing-top .sep {
    display: block;
    text-align: center;
  }
  .user-listing-top select {
    width: 100%;
  }
  h1 {
    font-size: 30px;
  }
  .page-title {
    margin-bottom: 20px;
  }
  .page-title h2 {
    font-size: 25px;
  }
  .page-title h2 a i {
    margin: 1px 10px 0 0px;
  }
  .page-title h3 {
    font-size: 22px;
  }
  .page-item.disabled .page-link {
    font-size: 14px;
  }
  .page-item .page-link {
    padding: 7px 10px;
    line-height: 25px;
  }
}
@media (max-width: 360px) {
  .dataTables_filter label:after {
    right: -40px !important;
  }
}
/*===================== responsive end here=====================*/
